{%extends "base.html"%}
{% block title%}Login{%endblock%}
{%block content%}
<div class="container">
    <div style="margin-top:2rem"></div>
    <form method="POST">
        <div class="form-group">
            <label for="email" class="form-label">Email Address</label>
            <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
            />
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
            />
            <br/>
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>
</div>
{%endblock%}