{% extends "base.html"%}
{% block title %}
{{data[-1]}}
{% endblock %}
{% block content %}
<div class="container">
    {% for a in data[0]%}
    <div style="height:1rem"></div>
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title"><a target="_blank" href={{a["question_link"]}}>{{a["question"]}}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">
                <div class="row">
                    <div class="col-3">{{a["votes"]}} votes</div>
                    <div class="col-3">{{a["answer"]}} answers</div>
                    <div class="col-3">{{a["views"]}}</div>

                </div>
            </h6>
            <p class="card-text">{{a["description"]}}</p>
            <div class="row">
                {% for ks in a["tags"]%}
                <button type="button" class="btn btn-dark col-1"
                        style="margin-left:10px;margin-right:10px;font-size:10px;padding-top:5px;padding-bottom:5px"
                        onclick="sendRequest('{{ks[1]}}')">
                    {{ks[0]}}
                </button>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}